{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">
  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      <!-- Essential Information -->
      {% if author.location %}
        <li class="profile-info">
          <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
          <span>{{ author.location }}</span>
        </li>
      {% endif %}

      {% if author.employer %}
        <li class="profile-info">
          <i class="fas fa-university" aria-hidden="true"></i>
          <span>{{ author.employer }}</span>
        </li>
      {% endif %}

      <!-- Social Links -->
      {% if author.email %}
        <li class="social-link">
          <a href="mailto:{{ author.email }}">
            <i class="fas fa-envelope"></i>
            <span>Email</span>
          </a>
        </li>
      {% endif %}
      
      {% if author.googlescholar %}
        <li class="social-link">
          <a href="{{ author.googlescholar }}" target="_blank">
            <i class="ai ai-google-scholar"></i>
            <span>Google Scholar</span>
          </a>
        </li>
      {% endif %}

      {% if author.github %}
        <li class="social-link">
          <a href="https://github.com/{{ author.github }}" target="_blank">
            <i class="fab fa-github"></i>
            <span>GitHub</span>
          </a>
        </li>
      {% endif %}

      {% if author.linkedin %}
        <li class="social-link">
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}" target="_blank">
            <i class="fab fa-linkedin"></i>
            <span>LinkedIn</span>
          </a>
        </li>
      {% endif %}

      {% if author.twitter %}
        <li class="social-link">
          <a href="https://twitter.com/{{ author.twitter }}" target="_blank">
            <i class="fab fa-twitter"></i>
            <span>Twitter</span>
          </a>
        </li>
      {% endif %}

      {% if author.medium %}
        <li class="social-link">
          <a href="https://medium.com/@{{ author.medium }}" target="_blank">
            <i class="fab fa-medium"></i>
            <span>Medium</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
